/* Css for Product */
.rooot {
  max-width: 100%;
}
.setImage {
  height: 30em;
}
.media{
  height: 0;
  padding-top: 56.25%;
}
.cardActions {
  display: flex;
  justify-content: flex-end;
}
.cardContent {
  display: flex;
  justify-content: space-between;
}

/* Css for the AppBar Part */
.appBar {
  box-shadow: none;
  border-bottom: 1px;
  height: 40px;
}
@media screen and (min-width: 600px) {
  .appBar {
    width: 100%;
    margin-left: 0;
  }
}
.title {
  flex-grow: 1;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.image{
  margin-right: 10px;
}

.menuButton {
  margin-right: 16px;
}
@media screen and (min-width: 600px) {
  .menuButton {
    display: none;
  }
}
.grow {
  flex-grow: 1;
}
.search {
  position: relative;
  border-radius: 8px;
  background-color: antiquewhite;
  margin-right: 16px;
  margin-left: 0px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .search {
    display: none;
  }
}
.searchIcon {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputRoot {
  color: inherit;
}
.inputInput{
  padding: 2px 2px 2px 0px;
  padding-left: calc(1em + 32px);
  width: 100%;
}

@media screen and (min-width: 960px) {
  .inputInput {
    width: 20ch;
  }
}

/* Products CSS */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  min-height: 64px;
}
.content {
    flex-grow: 1;
    padding: 24px;
    background-color: lightgray;
  }
.roooot {
    flex-grow: 1,
  }

  /* Cart CSS */
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    min-height: 64px;
    margin-top: 20px;
  }
  .cart_title {
    margin-top: 10%;
    padding-top: 20px;
  }
  .emptyButton {
    min-width: 150px;
  }

	@media screen and (max-width: 600px) {
    .emptyButton {
      margin-bottom: 5px;
    }
  }
  @media screen and (min-width: 601px) {
      .emptyButton {
        margin-right: 20px;
      }
    }
  .checkoutButton {
    min-width: 150px;
    margin-right: 10px;
  }
  .link {
    text-decoration: none;
  }
  .cardDetails {
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: space-between;
  }

  /* Cart Item */
  .media {
    height: 260px;
  }
  .cardContent {
    display: flex;
    justify-content: space-between;
  }
  .cartActions {
    justify-content: space-between;
  }
  .buttons_cart {
    display: flex;
    align-items: center;
  }

  /* CheckOut Form */
  .C_appBar {
    position: relative;
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    min-height: 64px;
    margin-top: 20px;
  }
  .C_layout {
    margin-top: 5%;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  @media screen and (min-width: 632px) {
   .C_layout {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    }
  }
  .paper {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
    margin-left: 25%;
    margin-right: 25%;
  }
  @media screen and (max-width: 600px) {
    .paper {
      width: 100%;
      margin-top: 60px;
     }
  }
  @media screen and (min-width: 648px) {
    .paper {
      margin-top: 48px;
      margin-bottom: 48px;
      padding: 24px;
     }
   }
  .stepper{
    padding: 24px 0 40px; 
  }
  .C_buttons {
    display: flex;
    justify-content: flex-end;
  }
  .C_button {
    margin-top: 24px;
    margin-left: 8px;
  }
  .divider {
    margin: 20px 0;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }











